nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 14px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-left: 20px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #999
}
td {
    margin-right: 20px;
}
h1{
    font-family: 'bernadetteregular', 'Helvetica', 'Arial', 'Sans-Serif';
}
.page-header{
    background-image: url("https://agnosticagile.org/imgs/Background.png");
    display: inline-block;
    background-attachment: fixed;
    height: auto;
    color: white;
    align-content: center;
    width: 100%;
    text-align: left;
    padding: 4rem 0.5rem;
}
.content{
    display: inline-block;
    width: 70%;
    margin-left: 3em;
}
.contentHeader{
    display: block;
    max-width: 90em;
}
#WhatIs img {
    margin-left: 3em;
    width: 13em;
    display: inline-block;
    float: left;
}
#WhatIs .content {
    display: inline-block;
    width: 70%;
    margin-left: 3em;
}
#WhatIs .content h2 {
    font-family: bernadetteregular;
    font-weight: 300;
    font-size: 2.5em;
    margin: 0px;
    margin-bottom: 20px !important;
}
