nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 14px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin-left: 20px;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #999
}
td {
    margin-right: 20px;
}
h1{
    font-family: 'bernadetteregular', 'Helvetica', 'Arial', 'Sans-Serif';
}
.page-header{
    background-image: url("https://agnosticagile.org/imgs/Background.png")
}
table#space {
  border-collapse: separate;
  border-spacing: 10px 5px;
}
